.cont-img{

    & .desc-left{

        & img{
            height: 700px;
            width: 100%;
            object-fit: cover;
        }
    }

    & .desc-right{

        & p{
            height: 700px;
            color: crimson;
            background-color: black;
            font-family: 'Advent Pro', sans-serif;
            font-size: 40px;
            padding: 30px;
            text-align: center;
            border: 2px crimson solid;
            overflow: hidden;
        }
    }
}

.desc-content{
    background-color: crimson;
    margin-top: 30px;

    & .desc-items{
        border: 2px solid black;
        padding: 15px;
        font-family: 'Abel', sans-serif;

        & h3{
            text-align: center;
            font-size: 40px;
            text-transform: uppercase;
            color: black;
        }

        & p{
            font-size: 20px;
            color: black;
        }
    }
}