@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@300&display=swap');

@import 'navbar';
@import 'footer';
@import 'galeria';
@import 'eventos';
@import 'lugar';
@import 'contacto';
@import 'global';

// index
.titulo{
    height: 850px;
    background-image: url(../img/audience-1867754_1920.webp);

    & h1{
        @include caja-font('Advent Pro' sans-serif, 90px, rgb(52, 53, 51),uppercase);
        margin-bottom: 200px;
        user-select: none;
    }
}


.info-contenedor{

    .row{
        
        .nleft{
            background-image: url(../img/1.webp);
            background-size: cover;
            object-fit: cover;
            border: 2px solid $negro;
        }
    
        .nright{
            background-image: url(../img/background.webp);
            color: $rojo;
            font-family: 'Abel', sans-serif;
            font-size: 30px;
            padding-bottom: 20px;
            border: 2px solid $negro;
    
            h2{
                padding-top: 40px;
                text-align: center;
                font-size: 60px;
            }
    
            p{
                padding-top: 40px;
                text-align: center;
            }
        }
    }
}


