@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* index */

.titulo{
    height: 89%;
    background-image: url(img/audience-1867754_1920.jpg);

}

.btn{
    background-color: crimson;
    text-transform: uppercase;
    font-family: 'Advent Pro', sans-serif;
    font-weight: 800;
    font-size: 30px;
    margin-top: 25px;
}

a{
    text-decoration: none;
    color: black;
}

h1{
    text-transform: uppercase;
    font-size: 90px;
    font-family: 'Advent Pro', sans-serif;
    margin-bottom: 200px;
    user-select: none;
}

.nright{
    background-image: url(img/background.jpg);
    color: crimson;
    font-family: 'Abel', sans-serif;
    font-size: 30px;
    padding-bottom: 20px;
    border: 2px solid black;
}

.nright h2{
    padding-top: 40px;
    text-align: center;
    font-size: 60px;
}

.nright p{
    padding-top: 40px;
    text-align: center;
}

.nleft{
    background-image: url(img/1.png);
    background-size: cover;
    object-fit: cover;
    border: 2px solid black;

}

/* index end*/

footer{
    font-family: 'Oswald', sans-serif;
    font-weight: 800;
    color: crimson;
    background-color: black;
}

/* eventos */

main{
    background-image: url(img/background.jpg);
    background-size: cover;
}

h2{
    padding: 40px;
    text-transform: uppercase;
    font-family: 'Abel', sans-serif;
    font-size: 50px;
    color: crimson;
}

.card-body, .card{
    background-color: rgba(0, 0, 0, 0.288);
    color: crimson;
}

/* eventos end */

/* galeria */

.gallery{
    padding: 80px 0;
}

.galeria-cont{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 500px;
    grid-gap: 20px;
    padding: 20px;
}

.galeria-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.galeria-item:nth-child(4){
    grid-column-start: span 2;
}

.galeria-item:nth-child(5){
    grid-row-start: span 2;
}

.galeria-item:nth-child(9){
    grid-column-start: span 2;
}

@media (max-width:768px) {
    .galeria-cont{
        grid-template-columns: repeat(2, 1fr);
    }
    .galeria-item:nth-child(3){
        grid-column-start: span 2;
    }
    
    .galeria-item:nth-child(5){
        grid-row-start: span 2;
    }
    
    .galeria-item:nth-child(8){
        grid-column-start: span 2;
    }
}

@media (max-width:573px) {
    .galeria-cont{
        grid-template-columns: repeat(1, 1fr);
    }
}

/* galeria end */

/* lugar */

.desc-left img{
    height: 700px;
    width: 100%;
    object-fit: cover;
}

.desc-right p{
    height: 700px;
    color: crimson;
    background-color: black;
    font-family: 'Advent Pro', sans-serif;
    font-size: 40px;
    padding: 30px;
    text-align: center;
    border: 2px crimson solid;
    overflow: hidden;
}

.desc-content{
    background-color: crimson;
    margin-top: 30px;
}

.desc-items{
    border: 2px solid black;
    padding: 15px;
    font-family: 'Abel', sans-serif;
}

.desc-items h3{
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    color: black;
}

.desc-items p{
    font-size: 20px;
    color: black;
}

/* lugar end */

/* contacto */

.direccion{
    color: crimson;
    list-style: none;
    text-transform: uppercase;
    font-size: 40px;
}

/* form */

.contactoForm{
    color: crimson;
    font-size: 30px;
    font-family: 'Abel', sans-serif;

}

.input-box input, textarea{
    border-radius: 8px;
    border: none;
    margin: 2px;
    outline: none;
}